/*body*/
   * {
    box-sizing : border-box ;
  }
body{
    margin: 0;
    width: 100%;
}
/*body*/

/*texto*/
h1, h2, h3, p, li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
/*texto*/

/*nav*/
nav{
    width: 100%;
    background-color: rgb(3, 16, 75);
    position : fixed;
    vertical-align: middle;
}

nav h1{
    color: #fff;
    display: inline-block;
    padding-left: 5%;
}

ul{
    width: 40%;
    float: right;
}
ul li{
    list-style: none;
    color: #fff;
    font-size: 1.5em;
    display: inline-block;
    margin: 0 2.5%;
}
nav a{
    text-decoration: none;
}

nav li:hover{
    background-color: #fff;
    color: rgb(3, 16, 75);
}
/*nav*/



 /*main*/
main{
    padding: 10px;
    width: 95%;
    margin: 0 auto;
  }
/*main*/


div{
    padding: 5px;
    background: rgb(3, 16, 75);
    text-align: justify;
    
  } 
img{
    max-width: 100%;
    max-height: 100%;
  }
img#luan{
    width:"1000"; 
    height: "200";
  }
.ana{
    margin-left: 1%;
    min-height: 400px;
    display: inline-block;
    vertical-align: top;
  }
.cairo{
    margin: 0 6%;
    min-height: 400px;
    display: inline-block;
    vertical-align: top;
  }
.cindy{
    min-height: 400px;
    display: inline-block;
    vertical-align: top;
  }
.fernanda{
    margin: 0 6%;
    margin-right: 0%;
    min-height: 400px;
    display: inline-block;
    vertical-align: top;
  }
.ana, .cairo, .cindy, .fernanda{
    width: 19.6%;
    text-align: center;
  }

  .ana p, .cairo p, .cindy p, .fernanda p{
    text-align: justify;
  }

  .ana img, .cairo img, .cindy img, .fernanda img{
    border-radius: 100%;
  }

.topo{
    margin-top: 60px;
    margin-bottom: 20px;
  }
@media(max-width: 750px){
  .ana, .cairo, .cindy, .fernanda{
    width: 45%;
    margin: 5px 2.5%;
  }
@media(max-width: 375px){
    .ana, .cairo, .cindy, .fernanda{
      width: 90%;
      margin: 5px 5%;
    }
}
}
footer{
  background-color:rgb(3, 16, 75);
  height: 100px;
}
footer p{
  padding: 40px 0 20px;
  text-align: center;
  color: white;
}
